[submodule "example-repo2"]
	path = source/example-repo2
	url = https://github.com/input-output-hk/technical-docs.git
	branch = example-repo2
[submodule "example-repo1"]
	path = source/example-repo1
	url = https://github.com/input-output-hk/technical-docs.git
	branch = example-repo1
[submodule "cardano-node"]
	path = source/cardano-node
	url = https://github.com/input-output-hk/cardano-node.git
	branch = robcohen/docs
