name: Build Content

on:
  push:
    branches:
      - sphinx-build
      - pre-build
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout `sphinx-build` branch
        uses: actions/checkout@v2
        with:
          ref: sphinx-build
          path: sphinx-build
      - name: Checkout `main` branch
        uses: actions/checkout@v2
        with:
          ref: main
          path: main
      - run: |
          cd sphinx-build
          git config --global user.name 'Github-Robot'
          git config --global user.email 'github-robot@users.noreply.github.com'
          export PATH=$PATH:/home/runner/.local/bin
      - name: Clone Content repositories
        run: |
          git clone --depth=1 -b "pre-build" https://github.com/input-output-hk/technical-docs.git source
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/cardano-wallet.git git/cardano-wallet
          mkdir source/cardano-wallet
          cp -r git/cardano-wallet/doc source/cardano-wallet
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/cardano-rest.git git/cardano-rest
          mkdir source/cardano-rest
          cp -r git/cardano-rest/doc source/cardano-rest
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/cardano-node.git git/cardano-node
          mkdir source/cardano-node
          cp -r git/cardano-node/doc source/cardano-node
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/cardano-ledger-specs.git git/cardano-ledger-specs
          mkdir source/cardano-ledger-specs
          cp -r git/cardano-ledger-specs/doc source/cardano-ledger-specs
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/cardano-tutorials.git git/cardano-tutorials
          mkdir source/cardano-tutorials
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/plutus.git git/plutus
          mkdir source/plutus
          cp -r git/plutus/doc source/plutus
          git clone --depth=1 -b "robcohen/docs" https://github.com/input-output-hk/adrestia.git git/adrestia
          mkdir source/adrestia
          cp -r git/adrestia/doc source/adrestia
          echo "Success"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -U sphinx
          echo $(pwd)
          make html
          cp -r build ../build
      - name: Clear main branch
        run: |
          cd ../main
          git rm -rf *
      - name: Copy 'build' directory
        run: |
          cp -r ../build/* ./
          git add .
          git commit -am "Update"
          git push